{% extends 'calorie/main.html'%}
{% block body %}
<br>
<div class="row text-center">
    <form action="" method="POST">
        <h5>Select Your food here</h5>
              {% csrf_token%}
              {{form}}
              <br>
              <input class="btn btn-success"  type="Submit" name="Add">
    </form>          
</div>  

<br>
<div style="margin:10px;" class="row">
    <div class="col-md-6">
        <h5>Food with calorie</h5>
        <hr> 
        <div style="background:#ebeff5;" class="card card-body">
            <table style="padding:200px;" class="table table-primary table-striped table-sm">
                <tr>
                    <th>Foodname</th>
                    <th>Foodcal</th>
                    <th>Remove</th>
                </tr>
                {% for item in items reversed %}
                <tr>
                    <td>{{item.food}}</td>
                    <td>{{item.cal}}</td>
                    <td><a class="btn btn-danger" href="{% url 'delete' item.id %}">Delete</a></td>
                </tr> 
                {% endfor %}   
            </table>

                <tr>{{fcal}}</tr>
        </div>
    </div>
    <div class="col-md-6">
        <h5>Calorie Cosumed</h5>
        <hr>
        <div style="width:480px;height:480px;margin-left:100px;" class="card card-body">
            <canvas id="myChart" width="600px" height="900px"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [{% for item in items %} '{{item.food}}',{% endfor%}],
        datasets: [{
            label: 'calorie',
            data: [{% for item in items %} {{item.cal}}, {% endfor%}],
            backgroundColor: [
                'rgba(255, 0, 0, 2)',
                'rgba(9, 125, 232, 2)',
                'rgba(252, 238, 9, 2)',
                'rgba(20, 200, 84, 2)',
                'rgba(9, 35, 252, 2)',
                'rgba(252, 125, 9, 2)',
                'rgba(252, 9, 118, 2)',
                'rgba(54, 162, 235, 2)',
                'rgba(255, 206, 86, 2)',
                'rgba(75, 192, 192, 2)',
                'rgba(153, 102, 255, 2)',
                'rgba(255, 159, 64, 2)'
            ],
            borderColor: [
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

        </div>
    </div>
</div>        
{% endblock body %}